<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1">
  <test name="Regression suite 1" >
    <classes>
      <class name="TestCasesDemoWithSurefirePlugin.TestCasesDemoWithSurefirePlugin"/>
        <class name="TestCasesDemoWithSurefirePlugin.TestCasesDemoWithSurefirePlugin2"/>
    </classes>
 </test>
</suite>
